<div class="row no-gutters">
  <table class="table table-sm table-striped table-bordered table-hover dataTables-example" id="tableResults">
    <thead>
        <tr class="table-active">
          <th>Processo</th>
          <th>Data Distribuição</th>
          <th>Assunto</th>
          <th>Unidade</th>
          <th>Classe</th>  
          <th>Tipo Parte</th>                 
          <th>Situação</th>
          <th></th>
        </tr>
    </thead>
    <tbody>        
        <% @processos.each do |processo| %>
          <tr>
            <td><%= processo["numeroFormatado"] %></td>
            <% if processo["flagSegredoJustica"] == "N"%>              
              <td><%= processo["dataDistribuicao"] %></td> 
              <td><%= processo["assuntoPrincipal"] %></td>
              <td><%= processo["unidade"] %></td>    
              <td><%= processo["classeJudicial"] %></td>              
              <td><%= processo["tipoParte"]%></td>
              <td><%= processo["situacao"] %></td>              
            <% else %>
              <td colspan="5" class="footable-visible">                    
                O processo consultado tramita em segredo de justiça, nos termos da Resolução n° 121, de 5 de outubro de 2010 do CNJ.
              <td> 
            <% end %>
            <td>   
                <%= link_to fa_icon("trash"), processo["numero"], class: "btn btn-sm btn-danger", data: { method: :delete } %>
            </td>        
          </tr>          
        <% end %> 
    </tbody>  
    <tfoot>
      <tr>
        <td colspan="6" class="footable-visible">
            <ul class="pagination pull-right">
              
            </ul>
          </td>
      </tr> 
    </tfoot>
  </table>

</div>