<!DOCTYPE html>
<html>
  <head>
    <title>Certidões</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div class="container-fluid p-0">     
      <%= render 'layouts/header' %> 

      <%= yield %>

      <%= render 'layouts/footer' %> 
    </div>

  </body>
</html>
